body {
    background-color: #003366;
    min-height: 300px;
    background-image:url('href="{{ url_for('style', filename='frontend/static/style/Background.jpg') }}" rel="img"')
}

#box {
    background-color: #ffffff;
    text-align: center;
    width: 95%;
    min-height: 600px;
    margin-left: auto ;
    margin-right: auto ;
}

.menu {
	background-color: #2980B9;
	width: 110%;
	float: left;
	position: relative;
	left: -5%;
	padding:0;
}

.menu li {
	float:left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

.menu li.current {
	background-color: #3498DB;
}

.menu a {
	color: white;
	text-decoration: none;
}

h1 {
	text-align: center;
	color: #2C3E50;
	font-family: Arial;
}

h2 {
	color: #D35400;
}

img {
	width: 300px;
	border: 2px solid #D35400 ;
}

#header {
    background-color: #6699FF;
    font-family: Arial;
}

li {
    list-style: none;
}

.message {
    border: thin solid #99CCFF;
    
}

