body {
    background-color: #003366;
    min-height: 300px;
}

#box {
    background-color: #ffffff;
    text-align: center;
    width: 95%;
    min-height: 600px;
    margin-left: auto ;
    margin-right: auto ;
}