<!DOCTYPE html>
<html>
    <head>
         <link href="{{ url_for('static', filename='style/GS_style.css') }}" rel="stylesheet">
    </head>
    <body ng-app="hackGMS" ng-controller="hackGMSController" style=background-image url('hackGMS/frontend/Background.jpg')>
        <div id="box">
            <h1>Hack GMS!!!!</h1>
            
            <head>
<div id="header"> 

<h1>Tabs</h1>
    <ul>
	    <li><a href="#">menu item</a></li>
	    <li id="selected"><a href="about">About hackGMS</a></li>
	    <li><a href="#">menu item</a></li>
	    <li><a href="#">menu item</a></li>
    </ul>
</div>

<div id="content">
	<p>Ispum schmipsum.</p>
</div>
	
</body></html>
        
            <p><b>Messages:</b></p>

            <!--  This is a bunch of magic mumbo-jumbo written by Chris. Ask if interested. -->
            <div ng-repeat="message in messages">
                <div gms-message></div>
            </div>
            <!-- The end of the magic... -->

            <p><b>Add a new message here:</b></p>
            <input ng-model="messageText"></input>
            <button ng-click="addMessage();">Add a message</button>
            <p>...</p>
             </div>
        
        
        <!-- <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        No more bug. :(
        <script src="http://allen.girlsms.org/~cproctor/infestation.js"></script> -->

        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="{{ url_for('static', filename='js/hack_gms_app.js') }}"></script>
    
       
    </body>

</html>
