# The .gitignore file (starts with a . so it’s normally hidden!) lists
# kinds of files that git should ignore. These are usually temporary junk
# files that don’t matter and shouldn’t be added to the repository.
# Generally, you shouldn't need to mess with this file.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# temporary files created by vim
*.swp
*.swo

# database files.
*.sqlite3

# A few files we will use to keep track of when the server was started
# and which process is running it (so we can kill the process when we want it
# to stop)
server.pid
server_start_time
backend/settings.yaml

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*.py~
